.btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  box-shadow:
    0 1px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.14);

  &--content {
    display: flex;
    column-gap: 2vw;
    align-items: center;
    margin: 1em 2em;
  }

  &--icon {
    width: 2em;
    height: 2em;
  }

  &--img {
    width: 100%;
  }

  &--facebook {
    background-color: #1877F2;
    color: #fff;
  }

  &--google {
    background-color: #fff;
    color: #000;
  }

  &--twitter {
    background-color: #1DA1F2;
    color: #fff;
  }

}
