/* For use in src/lib/core/theming/_palette.scss */
$md-primary-color: (
  50 : #e0f7fa,
  100 : #b2ebf2,
  200 : #80ddea,
  300 : #4dcfe1,
  400 : #26c5da,
  500 : #01bad4,
  600 : #00abc1,
  700 : #0096a7,
  800 : #00828f,
  900 : #005f64,
  A100 : #e2f8ff,
  A200 : #afecff,
  A400 : #7ce1ff,
  A700 : #63dbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary-color: (
  50 : #eee5fc,
  100 : #d3c0f7,
  200 : #b596f3,
  300 : #956af0,
  400 : #7b46ec,
  500 : #5d1ce8,
  600 : #4f17e2,
  700 : #3a0bd9,
  800 : #1a01d4,
  900 : #0000ce,
  A100 : #f2edfa,
  A200 : #d6cfff,
  A400 : #ab9cff,
  A700 : #9583ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-tertiary-color: (
  50 : #fae3f5,
  100 : #f1b9e6,
  200 : #e888d7,
  300 : #dd51c7,
  400 : #d401bb,
  500 : #c900b0,
  600 : #ba00ac,
  700 : #a700a7,
  800 : #9600a2,
  900 : #740098,
  A100 : #ffd3f5,
  A200 : #ffa0e9,
  A400 : #ff6ddd,
  A700 : #ff53d7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-error: (
  50 : #ffe8e8,
  100 : #ffc7c5,
  200 : #ffa19e,
  300 : #ff7b77,
  400 : #ff5f5a,
  500 : #ff433d,
  600 : #ff3d37,
  700 : #ff342f,
  800 : #ff2c27,
  900 : #ff1e1a,
  A100 : #ffffff,
  A200 : #fffefe,
  A400 : #ffcccb,
  A700 : #ffb3b2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-succes: (
  50 : #eaf4e4,
  100 : #cae4bb,
  200 : #a6d28d,
  300 : #82c05f,
  400 : #68b33d,
  500 : #4da51b,
  600 : #469d18,
  700 : #3d9314,
  800 : #348a10,
  900 : #257908,
  A100 : #baffa8,
  A200 : #91ff75,
  A400 : #68ff42,
  A700 : #54ff29,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-info: (
  50 : #e3eeff,
  100 : #b9d5fe,
  200 : #8abafe,
  300 : #5b9efd,
  400 : #3789fc,
  500 : #1474fc,
  600 : #126cfc,
  700 : #0e61fb,
  800 : #0b57fb,
  900 : #0644fa,
  A100 : #ffffff,
  A200 : #eef2ff,
  A400 : #bbc9ff,
  A700 : #a2b5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warning: (
  50 : #fff5e1,
  100 : #fee7b4,
  200 : #fed782,
  300 : #fdc650,
  400 : #fcba2b,
  500 : #fcae05,
  600 : #fca704,
  700 : #fb9d04,
  800 : #fb9403,
  900 : #fa8401,
  A100 : #ffffff,
  A200 : #fff6ed,
  A400 : #ffdbba,
  A700 : #ffcda1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


