@import "~@angular/material/theming";

$guacamole-typography: mat-typography-config(

  $font-family: 'Roboto, "Montserrat"',

  $display-4:     mat-typography-level( 96px, 112px, 100, "Montserrat", -1.5% ),
  $display-3:     mat-typography-level( 60px, 72px, 100, "Montserrat", -.5% ),
  $display-2:     mat-typography-level( 48px, 64px, 400, "Montserrat", 0 ),
  $display-1:     mat-typography-level( 34px, 50px, 400, "Montserrat", 0.25% ),

  $headline:      mat-typography-level( 24px, 40px, 400, "Montserrat", 0 ),
  $title:         mat-typography-level( 20px, 36px, 500, "Montserrat", 0.15% ),

  $subheading-2:  mat-typography-level( 16px, 32px, 400, "Montserrat", 0.15% ),
  $subheading-1:  mat-typography-level( 14px, 30px, 500, "Montserrat", 0.1% ),

  $body-2:        mat-typography-level( 16px, 32px, 400, "Roboto", 0.25% ),
  $body-1:        mat-typography-level( 14px, 30px, 400, "Roboto", 0 ),

  $caption:       mat-typography-level( 12px, 24px, 400, "Roboto", 0.4% ),

  $button:        mat-typography-level( 14px, 30px, 500, "Roboto", 1.25% ),

  $input:         mat-typography-level( 10, 26, 400, "Roboto", 1.5% )

);
